body {
        background:url("../images/christmas-dark.png");
    }

.main-content {
	display: flex;
	justify-content: space-around;
}

.main-content .Pic {
	padding: 5%;
	border: 5px solid blue;
	width: 50%;
	text-align: center;
}
